#######
# This is the default theme for pzs-ng's dZSbot.
# For a list of variables you can use, please see sitebot/COOKIES

COLOR1 = "04"
COLOR2 = "07"
COLOR3 = "11"
PREFIX = "%b{%sitename} :: "
fakesection.INVITE = "iNViTE"

# output done by glftpd
announce.DEBUG	 				= "[%b{debug }] %msg"
announce.DEFAULT 				= "[%b{info  }] %msg"
announce.NEWDIR					= "[%b{new   }][%section] %b{%relname} by %b{%u_name} of %g_name."
announce.DELDIR					= "[%b{delete}][%section] %b{%relname} by %b{%u_name} of %g_name."
announce.LOGIN					= "[%b{login }] %b{%u_name}@%g_name has logged in."
announce.LOGOUT					= "[%b{logout}] %b{%u_name}@%g_name has logged out."
announce.TIMEOUT				= "[%b{logout}] %b{%u_name} has timed out after %b{%u_idletime}s."
announce.TAGLINE				= "[%b{tag   }] %b{%u_name}@%g_name has changed tagline to %b{%u_tagline}."
announce.WIPE					= "[%b{wipe  }][%section] %b{%relname} by %b{%u_name} of %g_name."
announce.WIPE-r					= "[%b{wipe-r}][%section] %b{%relname} and all subdirectories by %b{%u_name} of %g_name."
announce.FAILLOGIN				= "[%b{login }] %b{%failed_nick} failed login: %b{%word1 %word2}"

# special announces done by glftpd
announce.NUKE					= "[%b{nuke  }][%section] %b{%relname} factor %b{%multiplier} by %b{%nuker} [reason] %b{%reason} [nukees] %b{%nukees}."
announce.UNNUKE					= "[%b{unnuke}][%section] %b{%relname} factor %b{%multiplier} by %b{%nuker} [reason] %b{%reason} [nukees] %b{%nukees}."
announce.NUKEES					= "%b{%u_name} (%b{%size}MB), "

# special output done by the zipscript
announce.DOUBLESFV				= "[%b{notice}] %b{%u_name} of %g_name tried to upload a dupe sfv."
announce.BADBITRATE				= "[%b{notice}] %b{%u_name} of %g_name is violating rules by uploading shit with bitrate %b{%bitrate}kbps."
announce.BADGENRE				= "[%b{notice}] %b{%u_name} of %g_name is violating rules by uploading %b{%genre}."
announce.BADYEAR				= "[%b{notice}] %b{%u_name} of %g_name is violating rules by uploading shit from %b{%year}."

# some special loop variables - these format the racers and
stats for each racer in the corresponding output.
announce.RACE_ZIP_LOOP1				= "%a_split%b{%a_name}/%a_gname"
announce.RACE_ZIP_LOOP2				= "%r_split%b{%r_name}/%r_gname"
announce.RACE_RAR_LOOP1				= "%a_split%b{%a_name}/%a_gname"
announce.RACE_RAR_LOOP2				= "%r_split%b{%r_name}/%r_gname"
announce.RACE_OTHER_LOOP1			= "%a_split%b{%a_name}/%a_gname"
announce.RACE_OTHER_LOOP2			= "%r_split%b{%r_name}/%r_gname"
announce.RACE_VIDEO_LOOP1			= "%a_split%b{%a_name}/%a_gname"
announce.RACE_VIDEO_LOOP2			= "%r_split%b{%r_name}/%r_gname"
announce.RACE_AUDIO_LOOP1			= "%a_split%b{%a_name}/%a_gname"
announce.RACE_AUDIO_LOOP2			= "%r_split%b{%r_name}/%r_gname"
announce.HALFWAY_RACE_RAR_LOOP1			= "%r_split%b{%r_name}/%r_gname"
announce.HALFWAY_RACE_ZIP_LOOP1			= "%r_split%b{%r_name}/%r_gname"
announce.HALFWAY_RACE_OTHER_LOOP1		= "%r_split%b{%r_name}/%a_gname"
announce.HALFWAY_RACE_VIDEO_LOOP1		= "%r_split%b{%r_name}/%a_gname"
announce.HALFWAY_RACE_AUDIO_LOOP1		= "%r_split%b{%r_name}/%a_gname"
announce.NEWLEADER_RAR_LOOP1			= "%a_split%b{%a_name}/%a_gname"
announce.NEWLEADER_ZIP_LOOP1			= "%a_split%b{%a_name}/%a_gname"
announce.NEWLEADER_OTHER_LOOP1			= "%a_split%b{%a_name}/%a_gname"
announce.NEWLEADER_VIDEO_LOOP1			= "%a_split%b{%a_name}/%a_gname"
announce.NEWLEADER_AUDIO_LOOP1			= "%a_split%b{%a_name}/%a_gname"
announce.COMPLETE_STAT_RACE_RAR_LOOP1		= "%r_split%b{%r_name}/%r_gname"
announce.COMPLETE_STAT_RACE_RAR_LOOP2		= "|%b{%sitename} :: [%b{stats }][%section] %g_racer_position %b{%g_racer_name} :: %b{%g_racer_files}f :: %b{%g_racer_mbytes}MB :: %b{%g_racer_percent}% :: %b{%g_racer_avgspeed}KB/s"
announce.COMPLETE_STAT_RACE_RAR_LOOP3		= "|%b{%sitename} :: [%b{stats }][%section] %u_racer_position %b{%u_racer_name} of %g_racer_name :: %b{%u_racer_files}f :: %b{%u_racer_mbytes}MB :: %b{%u_racer_percent}% :: %b{%u_racer_avgspeed}KB/s :: wkup %b{%u_racer_wkup}"
announce.COMPLETE_STAT_RACE_ZIP_LOOP1		= "%r_split%b{%r_name}/%r_gname"
announce.COMPLETE_STAT_RACE_ZIP_LOOP2		= "|%b{%sitename} :: [%b{stats }][%section] %g_racer_position %b{%g_racer_name} :: %b{%g_racer_files}f :: %b{%g_racer_mbytes}MB :: %b{%g_racer_percent}% :: %b{%g_racer_avgspeed}KB/s"
announce.COMPLETE_STAT_RACE_ZIP_LOOP3		= "|%b{%sitename} :: [%b{stats }][%section] %u_racer_position %b{%u_racer_name} of %g_racer_name :: %b{%u_racer_files}f :: %b{%u_racer_mbytes}MB :: %b{%u_racer_percent}% :: %b{%u_racer_avgspeed}KB/s :: wkup %b{%u_racer_wkup}"
announce.COMPLETE_STAT_RACE_OTHER_LOOP1		= "%r_split%b{%r_name}/%r_gname"
announce.COMPLETE_STAT_RACE_OTHER_LOOP2		= "|%b{%sitename} :: [%b{stats }][%section] %g_racer_position %b{%g_racer_name} :: %b{%g_racer_files}f :: %b{%g_racer_mbytes}MB :: %b{%g_racer_percent}% :: %b{%g_racer_avgspeed}KB/s"
announce.COMPLETE_STAT_RACE_OTHER_LOOP3		= "|%b{%sitename} :: [%b{stats }][%section] %u_racer_position %b{%u_racer_name} of %g_racer_name :: %b{%u_racer_files}f :: %b{%u_racer_mbytes}MB :: %b{%u_racer_percent}% :: %b{%u_racer_avgspeed}KB/s :: wkup %b{%u_racer_wkup}"
announce.COMPLETE_STAT_RACE_VIDEO_LOOP1		= "%r_split%b{%r_name}/%r_gname"
announce.COMPLETE_STAT_RACE_VIDEO_LOOP2		= "|%b{%sitename} :: [%b{stats }][%section] %g_racer_position %b{%g_racer_name} :: %b{%g_racer_files}f :: %b{%g_racer_mbytes}MB :: %b{%g_racer_percent}% :: %b{%g_racer_avgspeed}KB/s"
announce.COMPLETE_STAT_RACE_VIDEO_LOOP3		= "|%b{%sitename} :: [%b{stats }][%section] %u_racer_position %b{%u_racer_name} of %g_racer_name :: %b{%u_racer_files}f :: %b{%u_racer_mbytes}MB :: %b{%u_racer_percent}% :: %b{%u_racer_avgspeed}KB/s :: wkup %b{%u_racer_wkup}"
announce.COMPLETE_STAT_RACE_AUDIO_CBR_LOOP1	= "%r_split%b{%r_name}/%r_gname"
announce.COMPLETE_STAT_RACE_AUDIO_CBR_LOOP2	= "|%b{%sitename} :: [%b{stats }][%section] %g_racer_position %b{%g_racer_name} :: %b{%g_racer_files}f :: %b{%g_racer_mbytes}MB :: %b{%g_racer_percent}% :: %b{%g_racer_avgspeed}KB/s"
announce.COMPLETE_STAT_RACE_AUDIO_CBR_LOOP3	= "|%b{%sitename} :: [%b{stats }][%section] %u_racer_position %b{%u_racer_name} of %g_racer_name :: %b{%u_racer_files}f :: %b{%u_racer_mbytes}MB :: %b{%u_racer_percent}% :: %b{%u_racer_avgspeed}KB/s :: wkup %b{%u_racer_wkup}"
announce.COMPLETE_STAT_RACE_AUDIO_VBR_LOOP1	= "%r_split%b{%r_name}/%r_gname"
announce.COMPLETE_STAT_RACE_AUDIO_VBR_LOOP2	= "|%b{%sitename} :: [%b{stats }][%section] %g_racer_position %b{%g_racer_name} :: %b{%g_racer_files}f :: %b{%g_racer_mbytes}MB :: %b{%g_racer_percent}% :: %b{%g_racer_avgspeed}KB/s"
announce.COMPLETE_STAT_RACE_AUDIO_VBR_LOOP3	= "|%b{%sitename} :: [%b{stats }][%section] %u_racer_position %b{%u_racer_name} of %g_racer_name :: %b{%u_racer_files}f :: %b{%u_racer_mbytes}MB :: %b{%u_racer_percent}% :: %b{%u_racer_avgspeed}KB/s :: wkup %b{%u_racer_wkup}"

# standard announces done by the zipscript
announce.RACE_ZIP				= "[%b{racer }][%section] %b{%reldir} :: %b{%u_name} is racing%loop1 at %b{%u_speed}KB/s."
announce.RACE_RAR				= "[%b{racer }][%section] %b{%relname} :: %b{%u_name} is racing%loop1 at %b{%u_speed}KB/s."
announce.RACE_OTHER				= "[%b{racer }][%section] %b{%relname} :: %b{%u_name} is racing%loop1 at %b{%u_speed}KB/s."
announce.RACE_VIDEO				= "[%b{racer }][%section] %b{%relname} :: %b{%u_name} is racing%loop1 at %b{%u_speed}KB/s."
announce.RACE_AUDIO				= "[%b{racer }][%section] %b{%reldir} :: %b{%u_name} is racing%loop1 at %b{%u_speed}KB/s."
announce.SFV_RAR				= "[%b{sfv   }][%section] %b{%relname} by %b{%u_name} of %g_name :: now expecting %b{%t_filecount} file(s)."
announce.SFV_OTHER				= "[%b{sfv   }][%section] %b{%relname} by %b{%u_name} of %g_name :: now expecting %b{%t_filecount} file(s)."
announce.SFV_VIDEO				= "[%b{sfv   }][%section] %b{%relname} by %b{%u_name} of %g_name :: now expecting %b{%t_filecount} file(s)."
announce.SFV_AUDIO				= "[%b{sfv   }][%section] %b{%reldir} by %b{%u_name} of %g_name :: now expecting %b{%t_filecount} file(s)."
announce.UPDATE_RAR				= "[%b{update}][%section] %b{%relname} got first file from %b{%u_name} of %g_name at %b{%u_speed}KB/s. Now expecting %b{%t_mbytes}MB."
announce.UPDATE_ZIP				= "[%b{update}][%section] %b{%reldir} got first file from %b{%u_name} of %g_name at %b{%u_speed}KB/s. Now expecting %b{%t_mbytes}MB."
announce.UPDATE_OTHER				= "[%b{update}][%section] %b{%relname} got first file from %b{%u_name} of %g_name at %b{%u_speed}KB/s. Now expecting %b{%t_mbytes}MB."
announce.UPDATE_VIDEO				= "[%b{update}][%section] %b{%relname} got first file from %b{%u_name} of %g_name at %b{%u_speed}KB/s. Now expecting %b{%t_mbytes}MB."
announce.UPDATE_CBR				= "[%b{update}][%section] %b{%reldir} got first file from %b{%u_name} of %g_name at %b{%u_speed}KB/s. Get ready for some %b{%genre} from %b{%year} at %b{%sampling}Hz in %mode %b{%bitrate}kbps (%audio)."
announce.UPDATE_VBR				= "[%b{update}][%section] %b{%reldir} got first file from %b{%u_name} of %g_name at %b{%u_speed}KB/s. Get ready for some %b{%genre} from %b{%year} at %b{%sampling}Hz in %mode %b{%bitrate}kbps (%audio %a_stream)."
announce.HALFWAY_NORACE_RAR			= "[%b{50%   }][%section] %b{%relname} :: %b{%u_leader_name} of %b{%u_leader_gname} is all alone and halfway at %b{%u_leader_avgspeed}KB/s."
announce.HALFWAY_NORACE_ZIP			= "[%b{50%   }][%section] %b{%reldir} :: %b{%u_leader_name} of %b{%u_leader_gname} is all alone and halfway at %b{%u_leader_avgspeed}KB/s."
announce.HALFWAY_NORACE_OTHER			= "[%b{50%   }][%section] %b{%relname} :: %b{%u_leader_name} of %b{%u_leader_gname} is all alone and halfway at %b{%u_leader_avgspeed}KB/s."
announce.HALFWAY_NORACE_VIDEO			= "[%b{50%   }][%section] %b{%relname} :: %b{%u_leader_name} of %b{%u_leader_gname} is all alone and halfway at %b{%u_leader_avgspeed}KB/s."
announce.HALFWAY_NORACE_AUDIO			= "[%b{50%   }][%section] %b{%reldir} :: %b{%u_leader_name} of %b{%u_leader_gname} is all alone and halfway at %b{%u_leader_avgspeed}KB/s."
announce.HALFWAY_RACE_RAR			= "[%b{50%   }][%section] %b{%relname} :: %b{%u_leader_name} of %b{%u_leader_gname} leads with %b{%u_leader_files} files in %b{%u_leader_percent%} (%b{%u_leader_mbytes}) at %b{%u_leader_avgspeed}KB/s against %loop2 :: group %b{%g_leader_name} leads with %b{%g_leader_files} files in %b{%g_leader_percent}% (%b{%g_leader_mbytes}MB) at %b{%g_leader_avgspeed}KB/s. Runners up are%loop2."
announce.HALFWAY_RACE_ZIP			= "[%b{50%   }][%section] %b{%reldir} :: %b{%u_leader_name} of %b{%u_leader_gname} leads with %b{%u_leader_files} files in %b{%u_leader_percent%} (%b{%u_leader_mbytes}) at %b{%u_leader_avgspeed}KB/s against %loop2 :: group %b{%g_leader_name} leads with %b{%g_leader_files} files in %b{%g_leader_percent}% (%b{%g_leader_mbytes}MB) at %b{%g_leader_avgspeed}KB/s. Runners up are%loop2."
announce.HALFWAY_RACE_OTHER			= "[%b{50%   }][%section] %b{%relname} :: %b{%u_leader_name} of %b{%u_leader_gname} leads with %b{%u_leader_files} files in %b{%u_leader_percent%} (%b{%u_leader_mbytes}) at %b{%u_leader_avgspeed}KB/s against %loop2 :: group %b{%g_leader_name} leads with %b{%g_leader_files} files in %b{%g_leader_percent}% (%b{%g_leader_mbytes}MB) at %b{%g_leader_avgspeed}KB/s. Runners up are%loop2."
announce.HALFWAY_RACE_VIDEO			= "[%b{50%   }][%section] %b{%relname} :: %b{%u_leader_name} of %b{%u_leader_gname} leads with %b{%u_leader_files} files in %b{%u_leader_percent%} (%b{%u_leader_mbytes}) at %b{%u_leader_avgspeed}KB/s against %loop2 :: group %b{%g_leader_name} leads with %b{%g_leader_files} files in %b{%g_leader_percent}% (%b{%g_leader_mbytes}MB) at %b{%g_leader_avgspeed}KB/s. Runners up are%loop2."
announce.HALFWAY_RACE_AUDIO			= "[%b{50%   }][%section] %b{%reldir} :: %b{%u_leader_name} of %b{%u_leader_gname} leads with %b{%u_leader_files} files in %b{%u_leader_percent%} (%b{%u_leader_mbytes}) at %b{%u_leader_avgspeed}KB/s against %loop2 :: group %b{%g_leader_name} leads with %b{%g_leader_files} files in %b{%g_leader_percent}% (%b{%g_leader_mbytes}MB) at %b{%g_leader_avgspeed}KB/s. Runners up are%loop2."
announce.NEWLEADER_RAR				= "[%b{leader}][%section] %b{%relname} :: %b{%u_leader_name} of %b{%u_leader_gname} takes the lead with %b{%u_leader_files} files in %b{%u_leader_percent}% (%b{%u_leader_mbytes}MB) at %b{%u_leader_avgspeed}KB/s. Runners up are%loop1."
announce.NEWLEADER_ZIP				= "[%b{leader}][%section] %b{%reldir} :: %b{%u_leader_name} of %b{%u_leader_gname} takes the lead with %b{%u_leader_files} files in %b{%u_leader_percent}% (%b{%u_leader_mbytes}MB) at %b{%u_leader_avgspeed}KB/s. Runners up are%loop1."
announce.NEWLEADER_OTHER			= "[%b{leader}][%section] %b{%relname} :: %b{%u_leader_name} of %b{%u_leader_gname} takes the lead with %b{%u_leader_files} files in %b{%u_leader_percent}% (%b{%u_leader_mbytes}MB) at %b{%u_leader_avgspeed}KB/s. Runners up are%loop1."
announce.NEWLEADER_VIDEO			= "[%b{leader}][%section] %b{%relname} :: %b{%u_leader_name} of %b{%u_leader_gname} takes the lead with %b{%u_leader_files} files in %b{%u_leader_percent}% (%b{%u_leader_mbytes}MB) at %b{%u_leader_avgspeed}KB/s. Runners up are%loop1."
announce.NEWLEADER_AUDIO			= "[%b{leader}][%section] %b{%reldir} :: %b{%u_leader_name} of %b{%u_leader_gname} takes the lead with %b{%u_leader_files} files in %b{%u_leader_percent}% (%b{%u_leader_mbytes}MB) at %b{%u_leader_avgspeed}KB/s. Runners up are%loop1."
announce.COMPLETE_RAR				= "[%b{done  }][%section] %b{%relname} with %b{%t_files} files (%b{%t_mbytes}MB) was completed in %b{%t_duration} (avg. %b{%r_avgspeed}KB/s) by %b{%u_name} of %b{%g_name}."
announce.COMPLETE_ZIP				= "[%b{done  }][%section] %b{%reldir} with %b{%t_files} files (%b{%t_mbytes}MB) was completed in %b{%t_duration} (avg. %b{%r_avgspeed}KB/s) by %b{%u_name} of %b{%g_name}."
announce.COMPLETE_OTHER				= "[%b{done  }][%section] %b{%relname} with %b{%t_files} files (%b{%t_mbytes}MB) was completed in %b{%t_duration} (avg. %b{%r_avgspeed}KB/s) by %b{%u_name} of %b{%g_name}."
announce.COMPLETE_VIDEO				= "[%b{done  }][%section] %b{%relname} with %b{%t_files} files (%b{%t_mbytes}MB) was completed in %b{%t_duration} (avg. %b{%r_avgspeed}KB/s) by %b{%u_name} of %b{%g_name}."
announce.COMPLETE_AUDIO_CBR			= "[%b{done  }][%section] %b{%reldir} with %b{%t_files} files (%b{%t_mbytes}MB) was completed in %b{%t_duration} (avg. %b{%r_avgspeed}KB/s) by %b{%u_name} of %b{%g_name}."
announce.COMPLETE_AUDIO_VBR			= "[%b{done  }][%section] %b{%reldir} with %b{%t_files} files (%b{%t_mbytes}MB) was completed in %b{%t_duration} (avg. %b{%r_avgspeed}KB/s) by %b{%u_name} of %b{%g_name}."
announce.COMPLETE_STAT_RACE_RAR			= "[%b{done  }][%section] %b{%relname} with %b{%t_files} files (%b{%t_mbytes}MB) was completed in %b{%t_duration} (avg. %b{%r_avgspeed}KB/s) by %b{%u_count} user(s) in %b{%g_count} group(s).|%b{%sitename} :: [%b{stats }][%section] Users hall of fame:%loop3|%b{%sitename} :: [%b{stats }][%section] Groups hall of fame:%loop2"
announce.COMPLETE_STAT_RACE_ZIP			= "[%b{done  }][%section] %b{%reldir} with %b{%t_files} files (%b{%t_mbytes}MB) was completed in %b{%t_duration} (avg. %b{%r_avgspeed}KB/s) by %b{%u_count} user(s) in %b{%g_count} group(s).|%b{%sitename} :: [%b{stats }][%section] Users hall of fame:%loop3|%b{%sitename} :: [%b{stats }][%section] Groups hall of fame:%loop2"
announce.COMPLETE_STAT_RACE_OTHER		= "[%b{done  }][%section] %b{%relname} with %b{%t_files} files (%b{%t_mbytes}MB) was completed in %b{%t_duration} (avg. %b{%r_avgspeed}KB/s) by %b{%u_count} user(s) in %b{%g_count} group(s).|%b{%sitename} :: [%b{stats }][%section] Users hall of fame:%loop3|%b{%sitename} :: [%b{stats }][%section] Groups hall of fame:%loop2"
announce.COMPLETE_STAT_RACE_VIDEO		= "[%b{done  }][%section] %b{%relname} with %b{%t_files} files (%b{%t_mbytes}MB) was completed in %b{%t_duration} (avg. %b{%r_avgspeed}KB/s) by %b{%u_count} user(s) in %b{%g_count} group(s).|%b{%sitename} :: [%b{stats }][%section] Users hall of fame:%loop3|%b{%sitename} :: [%b{stats }][%section] Groups hall of fame:%loop2"
announce.COMPLETE_STAT_RACE_AUDIO_CBR		= "[%b{done  }][%section] %b{%reldir} with %b{%t_files} files (%b{%t_mbytes}MB) was completed in %b{%t_duration} (avg. %b{%r_avgspeed}KB/s) by %b{%u_count} user(s) in %b{%g_count} group(s).|%b{%sitename} :: [%b{stats }][%section] Users hall of fame:%loop3|%b{%sitename} :: [%b{stats }][%section] Groups hall of fame:%loop2"
announce.COMPLETE_STAT_RACE_AUDIO_VBR		= "[%b{done  }][%section] %b{%reldir} with %b{%t_files} files (%b{%t_mbytes}MB) was completed in %b{%t_duration} (avg. %b{%r_avgspeed}KB/s) by %b{%u_count} user(s) in %b{%g_count} group(s).|%b{%sitename} :: [%b{stats }][%section] Users hall of fame:%loop3|%b{%sitename} :: [%b{stats }][%section] Groups hall of fame:%loop2"

# Announce done by the postdel binary
announce.INCOMPLETE				= "[%b{d0h!  }][%section] %b{%releasename} is now incomplete thanks to %b{%u_name} of %b{%g_name}."

# 3rd party addons - take note that these variables should possibly be changed in order to work with your setup/3rd party app.
announce.PRE					= "[%b{%c1{pre}   }][%section] %b{%relname} by %b{%pregroup} in %b{%files} files (%b{%mbytes}MB)."
announce.INVITE					= "[%b{invite}] %b{%u_name} of %g_name invited himself as %b{%u_ircnick}."
announce.REQUEST				= "[%b{req   }] %b{%u_name} of %g_name requests %b{%releasename}."
announce.REQFILLED				= "[%b{filled}] %b{%u_name} of %g_name just filled %b{%releasename} for %b{%u_requester}."

# internal announces
announce.LEECH					= "[%b{bwinfo}] Current leechers:"
announce.UPLOAD					= "[%b{bwinfo}] Current uploaders:"
announce.IDLE					= "[%b{bwinfo}] Current idlers:"
announce.BW				        = "[%b{bwinfo}] %b{%uploads} up at %b{%upspeed}KB/s (%uppercent%) :: %b{%downloads} down at %b{%dnspeed}KB/s (%dnpercent%) %b{%transfers} in total at %b{%totalspeed}KB/s (%totalpercent%) :: %b{%active} browsing :: %b{%idlers} idle :: %b{%totallogins} in total."
announce.BWUP					= "[%b{bwinfo}] %b{%uploads} uploads @ %b{%upspeed}KB/s (%uppercent%)."
announce.BWDN					= "[%b{bwinfo}] %b{%downloads} downloads @ %b{%dnspeed}KB/s (%dnpercent%)."
announce.TOTUPDN				= "[%b{bwinfo}] %type %b{%count} at %b{%total}KB/s (%b{%per}%)."
announce.TOTIDLE				= "[%b{bwinfo}] Currently %b{%count} users idle!"
announce.USERIDLE				= "[%b{bwinfo}] %b{%u_name} of %g_name at %b{%idletime}s."
announce.USER					= "[%b{bwinfo}] %b{%u_name} of %g_name on %b{%filename} (%b{%fper} done) at %b{%uspeed}KB/s (%b{%per} usage)."
announce.SPEEDUP				= "[%b{bwinfo}] %b{%u_name} of %g_name is uploading %b{%f_name} at %b{%upspeed}KB/s (%uppercent)."
announce.SPEEDDN				= "[%b{bwinfo}] %b{%u_name} of %g_name is downloading %b{%f_name} at %b{%dnspeed}KB/s (%dnpercent)."
announce.SPEEDID				= "[%b{bwinfo}] %b{%u_name} of %g_name has been idle for %b{%idletime}."
announce.SPEEDERROR				= "[%b{bwinfo}] Nope, try again. Found noone by that name on site."
announce.WELCOME				= "Welcome to %b{%sitename}'s sitechan. Type %cmdprehelp for help."
announce.FREE					= "[%b{space }] %devices[Totals: %b{%free} of %b{%total} (used %percentage%)]."
announce.FREE-DEV				= "%section: %b{%free} of %b{%total} (used %percentage%) :: "

# 3rd party imdb announce - example for psxc-imdb
announce.IMDBVAR				= "[%b{imdb  }][%section] %b{%imdbname} (%imdburl), a %imdbdirector movie which scored %b{%imdbscore of 10} (%imdbvotes people voted). It premiered in %imdbpremiereinfo, with %b{%imdbnumscreens screens} on the opening weekend.|%b{%sitename} :: [%b{imdb  }][%section] %b{%imdbname} plot summary: %imdbplot \[%imdbbar\]"
announce.IMDB					= "[%b{imdb  }][%section] %msg"
announce.IMDBFIND				= "[%b{imdb  }][%section] %msg"
announce.MSGINVITE	        		= "[%b{invite}] %b{%u_name} of %g_name invited himself as %b{%u_ircnick}."
announce.BADMSGINVITE	        		= "[%b{%c1{badinv}}] %b{%u_ircnick} (%u_host) tried to invite himself with invalid login!"

