#######
# This is the default theme for pzs-ng's dZSbot.
# For a list of variables you can use, please see sitebot/COOKIES

COLOR1 = "04"
COLOR2 = "07"
COLOR3 = "11"
PREFIX = "%b{%sitename} :: "
fakesection.INVITE = "iNViTE"

# output done by glftpd
announce.DEBUG	 	        = "[%b{debug }] %msg"
announce.DEFAULT 	        = "[%b{info  }] %msg"
announce.NEWDIR		        = "[%b{new   }][%section] %b{%releasename} by %b{%u_name} of %g_name"
announce.DELDIR		        = "[%b{delete}][%section] %b{%releasename} by %b{%u_name} of %g_name"
announce.LOGIN		        = "[%b{login }] %b{%u_name}@%g_name has logged in"
announce.LOGOUT		        = "[%b{logout}] %b{%u_name}@%g_name has logged out"
announce.WIPE		        = "[%b{wipe  }][%section] %bold%release%bold by %b{%u_name} of %g_name"
announce.WIPE-r		        = "[%b{wipe-r}][%section] %bold%release%bold and all subdirectories by %b{%u_name} of %g_name"

# special output done by the zipscript
announce.DOUBLESFV		= "[%b{notice}] %b{%u_name} of %g_name tried to upload a dupe sfv."
announce.BADBITRATE		= "[%b{notice}] %b{%u_name} of %g_name is violating rules by uploading shit with bitrate %b{%bitrate}kbps"
announce.BADGENRE		= "[%b{notice}] %b{%u_name} of %g_name is violating rules by uploading %b{%genre}"
announce.BADYEAR		= "[%b{notice}] %b{%u_name} of %g_name is violating rules by uploading shit from %b{%year}"

# standard announces done by the zipscript
announce.RACE		        = "[%b{racer }][%section] %b{%releasename} :: %b{%u_name} is racing %b{%against} at %b{%u_speed}kb/s"
announce.SFV		        = "[%b{sfv   }][%section] %b{%releasename} by %b{%u_name} of %g_name :: now expecting %b{%t_filecount} file(s)"
announce.UPDATE	        	= "[%b{update}][%section] %b{%releasename} got first file from %b{%u_name} of %g_name at %b{%u_speed}kbs. Now expecting %b{%t_mbytes}mb in %b{%t_files} file(s)"
announce.UPDATE_RAR	        = "[%b{update}][%section] %b{%releasename} got first file from %b{%u_name} of %g_name at %b{%u_speed}kbs. Now expecting %b{%t_mbytes}mb"
announce.UPDATE_ZIP	        = "[%b{update}][%section] %b{%releasename} got first file from %b{%u_name} of %g_name at %b{%u_speed}kbs. Now expecting %b{%t_mbytes}mb"
announce.UPDATE_OTHER	        = "[%b{update}][%section] %b{%releasename} got first file from %b{%u_name} of %g_name at %b{%u_speed}kbs. Now expecting %b{%t_mbytes}mb"
announce.UPDATE_VIDEO	        = "[%b{update}][%section] %b{%releasename} got first file from %b{%u_name} of %g_name at %b{%u_speed}kbs. Now expecting %b{%t_mbytes}mb"
announce.UPDATE_CBR	        = "[%b{update}][%section] %b{%releasename} got first file from %b{%u_name} of %g_name at %b{%u_speed}kbs. Get ready for some %b{%genre} from %b{%year} at %b{%sampling}Hz in %mode %b{%bitrate}kbps (%audio)"
announce.UPDATE_VBR	        = "[%b{update}][%section] %b{%releasename} got first file from %b{%u_name} of %g_name at %b{%u_speed}kbs. Get ready for some %b{%genre} from %b{%year} at %b{%sampling}Hz in %mode %b{%bitrate}kbps (%audio %a_stream)"
announce.HALFWAY_NORACE	        = "[%b{50%   }][%section] %b{%releasename} :: %b{%u_name} of %b{%g_name} is all alone and halfway at %bold%u_speed%boldkb/s"
announce.HALFWAY_RACE	        = "[%b{50%   }][%section] %b{%releasename} :: %b{%u_name} of %b{%g_name} leads with %b{%u_files} files in %b{%u_percent%} (%b{%u_mbytes}) at %b{%u_speed}kb/s :: group %b{%g_name} leads with %b{%g_files} files in %b{%g_percent}% (%b{%g_mbytes}mb) at %b{%g_speed}kb/s"
announce.NEWLEADER	        = "[%b{leader}][%section] %b{%releasename} :: %b{%u_name} of %b{%g_name} takes the lead with %b{%u_files} files in %b{%u_percent}& (%b{%u_mbytes}mb) at %b{%u_speed}kb/s"
announce.COMPLETE		= "[%b{done  }][%section] %b{%releasename} with %b{%t_files} files (%b{%t_mbytes}mb) was completed in %b{%t_duration} (avg. %b{%t_avgspeed}kb/s) by %b{%u_name} of %b{%g_name}."
announce.COMPLETE_RAR		= "[%b{done  }][%section] %b{%releasename} with %b{%t_files} files (%b{%t_mbytes}mb) was completed in %b{%t_duration} (avg. %b{%t_avgspeed}kb/s) by %b{%u_name} of %b{%g_name}."
announce.COMPLETE_ZIP		= "[%b{done  }][%section] %b{%releasename} with %b{%t_files} files (%b{%t_mbytes}mb) was completed in %b{%t_duration} (avg. %b{%t_avgspeed}kb/s) by %b{%u_name} of %b{%g_name}."
announce.COMPLETE_OTHER		= "[%b{done  }][%section] %b{%releasename} with %b{%t_files} files (%b{%t_mbytes}mb) was completed in %b{%t_duration} (avg. %b{%t_avgspeed}kb/s) by %b{%u_name} of %b{%g_name}."
announce.COMPLETE_VIDEO		= "[%b{done  }][%section] %b{%releasename} with %b{%t_files} files (%b{%t_mbytes}mb) was completed in %b{%t_duration} (avg. %b{%t_avgspeed}kb/s) by %b{%u_name} of %b{%g_name}."
announce.COMPLETE_AUDIO		= "[%b{done  }][%section] %b{%releasename} with %b{%t_files} files (%b{%t_mbytes}mb) was completed in %b{%t_duration} (avg. %b{%t_avgspeed}kb/s) by %b{%u_name} of %b{%g_name}."
announce.COMPLETE_RACE		= "[%b{done  }][%section] %b{%releasename} with %b{%t_files} files (%b{%t_mbytes}mb) was completed in %b{%t_duration} (avg. %b{%t_avgspeed}kb/s) by %b{%u_count} user(s) in %b{%g_count} group(s)."
announce.COMPLETE_RACE_RAR	= "[%b{done  }][%section] %b{%releasename} with %b{%t_files} files (%b{%t_mbytes}mb) was completed in %b{%t_duration} (avg. %b{%t_avgspeed}kb/s) by %b{%u_count} user(s) in %b{%g_count} group(s)."
announce.COMPLETE_RACE_ZIP	= "[%b{done  }][%section] %b{%releasename} with %b{%t_files} files (%b{%t_mbytes}mb) was completed in %b{%t_duration} (avg. %b{%t_avgspeed}kb/s) by %b{%u_count} user(s) in %b{%g_count} group(s)."
announce.COMPLETE_RACE_OTHER	= "[%b{done  }][%section] %b{%releasename} with %b{%t_files} files (%b{%t_mbytes}mb) was completed in %b{%t_duration} (avg. %b{%t_avgspeed}kb/s) by %b{%u_count} user(s) in %b{%g_count} group(s)."
announce.COMPLETE_RACE_VIDEO	= "[%b{done  }][%section] %b{%releasename} with %b{%t_files} files (%b{%t_mbytes}mb) was completed in %b{%t_duration} (avg. %b{%t_avgspeed}kb/s) by %b{%u_count} user(s) in %b{%g_count} group(s)."
announce.COMPLETE_RACE_AUDIO	= "[%b{done  }][%section] %b{%releasename} with %b{%t_files} files (%b{%t_mbytes}mb) was completed in %b{%t_duration} (avg. %b{%t_avgspeed}kb/s) by %b{%u_count} user(s) in %b{%g_count} group(s)."

# Announce done by the postdel binary
announce.INCOMPLETE		= "[%b{d0h!  }][%section] %b{%releasename} is now incomplete thanks to %b{%u_name} of %b{%g_name}"

# Announcing stats on a race complete
announce.STAT_USERS_HEAD	= "[%b{stats }][%section] Users hall of fame"
announce.STAT_USERS	        = "[%b{stats }][%section] %u_position %b{%u_name} of %g_name :: %b{%u_files}f :: %b{%u_mbytes}mb :: %b{%u_percent}% :: %b{%u_avgspeed}kb/s :: wkup %b{%u_wkup}"
announce.STAT_GROUPS_HEAD	= "[%b{stats }][%section] Groups hall of fame"
announce.STAT_GROUPS		= "[%b{stats }][%section] %g_position %b{%g_name} :: %b{%g_files}f :: %b{%g_mbytes}mb :: %b{%g_percent}% :: %b{%g_avgspeed}kb/s"
announce.STAT_POST		= "[%b{stats }][%section] Race for %b{%releasename} is over, lasted %t_duration seconds. (%u_count racer(s), %g_count group(s))"

# 3rd party addons - take note that these variables should possibly be changed in order to work with your setup/3rd party app.
announce.PRE		        = "[%b{%c1{pre}   }][%section] %{%releasename} by %b{%pregroup} in %b{%files} files (%b{%mbytes}mb)"
announce.INVITE		        = "[%b{invite}] %b{%u_name} of %g_name invited himself as %b{%u_ircnick}"
announce.REQUEST	        = "[%b{req   }] %b{%u_name} of %g_name requests %b{%releasename}"
announce.REQFILLED	        = "[%b{filled}] %b{%u_name} of %g_name just filled %b{%releasename} for %b{%u_name_requester}"

# 3rd party imdb announce - example for psxc-imdb
announce.IMDBVAR		= "[%b{imdb  %bold][%section] %bold%imdbname%bold (%imdburl), a %imdbdirector movie which scored %bold%imdbscore of 10%bold (%imdbvotes people voted). It premiered in %imdbpremiereinfo, with %bold%imdbnumscreens screens%bold on the opening weekend.|%bold%sitename%bold :: [%b{imdb  }][%section] %bold%imdbname%bold plot summary: %imdbplot %imdbbar"
announce.IMDB			= "[%b{imdb  }][%section] %msg"
announce.IMDBFIND		= "[%b{imdb  }][%section] %msg"

# internal announces
announce.LEECH			= "[%b{bwinfo}] Current leechers:"
announce.UPLOAD			= "[%b{bwinfo}] Current uploaders:"
announce.IDLE			= "[%b{bwinfo}] Current idlers:"
announce.BW		        = "[%b{bwinfo}] %bold%uploads%bold up at %bold%upspeed%boldkb/sec (%uppercent%) :: %bold%downloads%bold down at %bold%dnspeed%boldkb/sec (%dnpercent%) %bold%transfers%bold in total at %bold%totalspeed%boldkb/sec (%totalpercent%) :: %bold%active%bold browsing :: %bold%idlers%bold idle :: %bold%totallogins%bold in total."
announce.BWUP		        = "[%b{bwinfo}] %bold%uploads%bold uploads @ %bold%upspeed%boldkb/sec (%uppercent%)"
announce.BWDN		        = "[%b{bwinfo}] %bold%downloads%bold downloads @ %bold%dnspeed%boldkb/sec (%dnpercent%)"
announce.TOTUPDN		= "[%b{bwinfo}] %type %bold%count%bold at %bold%total%boldKB/sec (%bold%per%bold%)"
announce.TOTIDLE		= "[%b{bwinfo}] Currently %bold%count%bold users idle!"
announce.USERIDLE		= "[%b{bwinfo}] %b{%u_name} of %g_name at %bold%idletime%bolds"
announce.USER			= "[%b{bwinfo}] %b{%u_name} of %g_name on %bold%filename%bold (%bold%fper%bold done) at %bold%uspeed%boldKB/sec (%bold%per%bold usage)"
announce.NUKE		        = "[%b{nuke  }][%section] %bold%release%bold factor %bold%multiplier%bold by %bold%nuker%bold [reason] %bold%reason%bold [nukees] %bold%nukees%bold"
announce.UNNUKE		        = "[%b{unnuke}][%section] %bold%release%bold factor %bold%multiplier%bold by %bold%nuker%bold [reason] %bold%reason%bold [nukees] %bold%nukees%bold"
announce.MSGINVITE	        = "[%b{invite}] %b{%u_name} of %g_name invited himself as %bold%u_ircnick%bold"
announce.BADMSGINVITE	        = "[%b{%c1{badinv}}] %bold%u_ircnick%bold (%host) tried to invite himself with invalid login!"
announce.WELCOME	        = "Welcome to %bold%sitename%bold's sitechan. Type %cmdprehelp for help."

announce.FREE		        = "[%b{space }] %devices"
announce.FREE-DEV	        = "%section :: %bold%free%bold of %bold%total%bold (used %percentage%) "

