##########################################################################
#                                                                        #
# Default variable-list for announces done by glftpd and pzs-ng          #
# This list should probably not be edited.                               #
#                                                                        #
##########################################################################

## Defining variables for announce
#
# Example:
#  set variables(PRE) "%pf %user %group %pregroup %files %mbytes"
#  set announce(PRE)  "-%sitename- \[%section\] %user@%group launches new %pregroup-pre called %release (%mbytesM in %filesF)"
#
# Special variables:
#  %pf       = path filter, must be the first parameter and contain full path of the release, it defines:
#   %reldir  = Last directory in path ( /site/xxx/marissa-exxtasy/cd1 => cd1 )
#   %path    = Second last directory in path ( /site/xxx/marissa-exxtasy/cd1 => marissa-exxtasy )
#   %relname = all directories after those defined in paths
#              ( paths(ISO) = "/site/xxx/" does: /site/xxx/marissa-exxtasy/cd1 => marissa-exxtasy/cd1 )
#
#  %bold    = bolds text
#  %uline   = underlines text
#  %section = current section name
#
#  %nuker   = name of nuker
#  %multiplier = nuke multiplier
#  %reason  = nuke reason
#  %nukee   = ppl that got nuked
#
# PLEASE! DO NOT CHANGE THESE VALUES IF YOU DO NOT KNOW WHAT THEY DO! IT *WILL* BREAK THE BOT!

## Read as:
# %t_ = Total, %t_files: Total files.
# %u_ = User, %u_count: User count.
# %g_ = Group, %g_name: Group name.

# Variables pasted from glftpd
set variables(DEBUG)		"%msg %u_pid"
set variables(DEFAULT)		"%pf %msg"
set variables(NEWDIR)		"%pf %u_name %g_name %u_tagline"
set variables(DELDIR)		"%pf %u_name %g_name %u_tagline"
set variables(LOGIN)		"%u_hostmask %u_ip %dummy %u_name %g_name %u_tagline %u_pid"
set variables(LOGOUT)		"%u_hostmask %u_ip %u_name %g_name %u_tagline"
set variables(TIMEOUT)		"%u_name %u_hostmask %dummy1 %dummy2 %dummy3 %dummy4 %dummy5 %u_idletime %dummy6"
set variables(TAGLINE)		"%u_name %u_group %u_tagline"
set variables(WIPE)		"%pf %u_name %g_name %u_tagline"
set variables(WIPE-r)		"%pf %u_name %g_name %u_tagline"
set variables(FAILLOGIN)	"%failed_nick %u_hostmask %u_ip"

# Variables pasted from the zipscript
set variables(DOUBLESFV)	"%pf %u_name %g_name %releasename %filename"
set variables(BADBITRATE)	"%pf %u_name %g_name %bitrate"
set variables(BADGENRE)		"%pf %u_name %g_name %genre"
set variables(BADYEAR)		"%pf %u_name %g_name %year"
set variables(RACE)		"%pf %u_name %g_name %against %releasename %u_speed %filename %t_duration %t_percent %u_count %g_count %t_upfiles %t_files %missing_files"
set variables(SFV)		"%pf %releasename %t_filecount %u_name %g_name"
set variables(UPDATE)		"%pf %u_name %g_name %t_files %u_speed %t_mbytes %filename %releasename"
set variables(UPDATE_RAR)	"%pf %u_name %g_name %t_files %u_speed %t_mbytes %filename %releasename"
set variables(UPDATE_ZIP)	"%pf %u_name %g_name %t_files %u_speed %t_mbytes %filename %releasename"
set variables(UPDATE_OTHER)	"%pf %u_name %g_name %t_files %u_speed %t_mbytes %filename %releasename"
set variables(UPDATE_VIDEO)	"%pf %u_name %g_name %t_files %u_speed %t_mbytes %filename %releasename"
set variables(UPDATE_VBR)	"%pf %u_name %g_name %t_files %u_speed %genre %year %bitrate %sampling %mode %audio %a_stream %filename %releasename %artist %album %title %codec %layer"
set variables(UPDATE_CBR)	"%pf %u_name %g_name %t_files %u_speed %genre %year %bitrate %sampling %mode %audio %filename %releasename %artist %album %title %codec %layer"
set variables(HALFWAY_RACE)	"%pf %releasename %u_leader_name %u_leader_gname %u_leader_mbytes %u_leader_files %u_leader_percent %u_leader_avgspeed %g_leader_name %g_leader_mbytes %g_leader_files %g_leader_percent %g_leader_avgspeed %t_mbytes %t_files %t_percent %t_avgspeed %t_missingfiles %filename %u_count %g_count %u_name %g_name %against %t_total_files"
set variables(HALFWAY_NORACE)	"%pf %releasename %u_leader_name %u_leader_gname %u_leader_mbytes %u_leader_files %u_leader_percent %u_leader_avgspeed %g_leader_name %g_leader_mbytes %g_leader_files %g_leader_percent %g_leader_avgspeed %t_mbytes %t_files %t_percent %t_avgspeed %t_missingfiles %filename %u_count %g_count %u_name %g_name %t_total_files"
set variables(NEWLEADER)	"%pf %u_name %g_name %u_speed %t_duration %uploaded_files %uploaded_percent %uploaded_mbytes %releasename %u_count %g_count %filename %t_files %t_missingfiles %u_leader_name %u_leader_gname %u_leader_mbytes %u_leader_files %u_leader_percent %u_leader_avgspeed %g_leader_name %g_leader_mbytes %g_leader_files %g_leader_percent %g_leader_avgspeed"

set variables(COMPLETE)		"%pf %releasename %t_mbytes %t_files %t_avgspeed %t_duration %u_name %g_name %filename"
set variables(COMPLETE_RAR)	"%pf %releasename %t_mbytes %t_files %t_avgspeed %t_duration %u_name %g_name %filename"
set variables(COMPLETE_ZIP)	"%pf %releasename %t_mbytes %t_files %t_avgspeed %t_duration %u_name %g_name %filename"
set variables(COMPLETE_OTHER)	"%pf %releasename %t_mbytes %t_files %t_avgspeed %t_duration %u_name %g_name %filename"
set variables(COMPLETE_VIDEO)	"%pf %releasename %t_mbytes %t_files %t_avgspeed %t_duration %u_name %g_name %filename"
set variables(COMPLETE_AUDIO)	"%pf %releasename %t_mbytes %t_files %t_avgspeed %t_duration %u_name %g_name %filename"

set variables(COMPLETE_RACE)		"%pf %releasename %t_mbytes %t_files %t_avgspeed %t_duration %u_count %g_count %u_slowest_name %g_slowest_name %t_slowest_avgspeed %u_fastest_name %g_fastest_name %g_fastest_avgspeed %u_winner_name %u_winner_gname %u_winner_mbytes %u_winner_files %u_winner_percent %u_winner_avgspeed %g_winner_name %g_winner_mbytes %g_winner_files %g_winner_percent %g_winner_avgspeed %filename"
set variables(COMPLETE_RACE_RAR)	"%pf %releasename %t_mbytes %t_files %t_avgspeed %t_duration %u_count %g_count %u_slowest_name %g_slowest_name %t_slowest_avgspeed %u_fastest_name %g_fastest_name %g_fastest_avgspeed %u_winner_name %u_winner_gname %u_winner_mbytes %u_winner_files %u_winner_percent %u_winner_avgspeed %g_winner_name %g_winner_mbytes %g_winner_files %g_winner_percent %g_winner_avgspeed %filename"
set variables(COMPLETE_RACE_ZIP)	"%pf %releasename %t_mbytes %t_files %t_avgspeed %t_duration %u_count %g_count %u_slowest_name %g_slowest_name %t_slowest_avgspeed %u_fastest_name %g_fastest_name %g_fastest_avgspeed %u_winner_name %u_winner_gname %u_winner_mbytes %u_winner_files %u_winner_percent %u_winner_avgspeed %g_winner_name %g_winner_mbytes %g_winner_files %g_winner_percent %g_winner_avgspeed %filename"
set variables(COMPLETE_RACE_OTHER)	"%pf %releasename %t_mbytes %t_files %t_avgspeed %t_duration %u_count %g_count %u_name_slowest %g_name_slowest %u_avgspeed_slowest %u_fastest_name %g_name_fastest %u_avgspeed_fastest %u_name_winner %g_name %u_mbytes_winner %u_files_winner %u_percent_winner %u_avgspeed_winner %g_name_winner %g_mbytes_winner %g_files_winner %g_percent_winner %g_avgspeed_winner %filename"
set variables(COMPLETE_RACE_VIDEO)	"%pf %releasename %t_mbytes %t_files %t_avgspeed %t_duration %u_count %g_count %u_slowest_name %g_slowest_name %t_slowest_avgspeed %u_fastest_name %g_fastest_name %g_fastest_avgspeed %u_winner_name %u_winner_gname %u_winner_mbytes %u_winner_files %u_winner_percent %u_winner_avgspeed %g_winner_name %g_winner_mbytes %g_winner_files %g_winner_percent %g_winner_avgspeed %filename"
set variables(COMPLETE_RACE_AUDIO)	"%pf %releasename %t_mbytes %t_files %t_avgspeed %t_duration %u_count %g_count %u_slowest_name %g_slowest_name %t_slowest_avgspeed %u_fastest_name %g_fastest_name %g_fastest_avgspeed %u_winner_name %u_winner_gname %u_winner_mbytes %u_winner_files %u_winner_percent %u_winner_avgspeed %g_winner_name %g_winner_mbytes %g_winner_files %g_winner_percent %g_winner_avgspeed %filename"

set variables(INCOMPLETE)		"%pf %u_name %g_name %releasename"
set variables(STAT_USERS_HEAD)		"%pf %dummy"
set variables(STAT_USERS)		"%pf %u_position %u_name %g_name %u_mbytes %u_files %u_percent %u_avgspeed %u_dayup %u_wkup %u_monthup %u_allup"
set variables(STAT_GROUPS_HEAD)		"%pf %dummy"
set variables(STAT_GROUPS)		"%pf %g_position %g_name %g_mbytes %g_files %g_percent %g_avgspeed"
set variables(STAT_POST)		"%pf %u_count %g_count %t_files %t_mbytes %t_duration %u_avgspeed %u_winner_name %u_winner_gname %u_winner_mbytes %u_winner_files %u_winner_percent %u_winner_speed %g_winner_name %g_winner_mbytes %g_winner_files %g_winner_percent %g_winner_speed %slow_user %slow_group %slow_speed %fast_user %fast_group %fast_speed"

## Converts empty or zero variable to something else if defined
#
# Example:
#  set zeroconvert(%user) "NoOne"
set zeroconvert(%u_name)			"NoOne"
set zeroconvert(%g_name) 			"NoGroup"

