#############################################################
# Project Zipscript Next Generation - Sitebot Configuration #
#                (originally by Dark0n3)                    #
# This is configuration for dZSbot.tcl                      #
#############################################################
# BASIC CONFIG                                              #
#############################################################
# Locations of all the usual files, change is usually only required
# if you have another glroot than /glftpd/ =)
set location(GLLOG)		"/glftpd/ftp-data/logs/glftpd.log"
set location(PASSWD)		"/glftpd/etc/passwd"
set location(USERS)		"/glftpd/ftp-data/users/"

# Should the bot die if a binary is missing - or just output that something is wrong?
set die_on_error		"NO"

# Are you using glftpd2? Default setting ("AUTO") should be safe,
# enables autodetection (if binary(GLFTPD) is set correctly)
# To override autodetection (or if it just doesn't work), you can set
# it to "YES" or "NO".
set use_glftpd2 		"AUTO"

# What types of messages are counted as the different types of output
# (for disabling etc)
set msgtypes(RACE) 		"NEWDIR DELDIR INCOMPLETE NUKE UNNUKE PRE RACE SFV DOUBLESFV UPDATE UPDATE_RAR UPDATE_OTHER UPDATE_VBR UPDATE_CBR UPDATE_VIDEO UPDATE_ZIP HALFWAY_RACE HALFWAY_NORACE NEWLEADER COMPLETE COMPLETE_RAR COMPLETE_ZIP COMPLETE_AUDIO COMPLETE_OTHER COMPLETE_VIDEO COMPLETE_RACE COMPLETE_RACE_RAR COMPLETE_RACE_ZIP COMPLETE_RACE_AUDIO COMPLETE_RACE_OTHER COMPLETE_RACE_VIDEO STAT_USERS_HEAD STAT_USERS STAT_GROUPS_HEAD STAT_GROUPS STAT_POST BADGENRE BADYEAR BADBITRATE WIPE WIPE-r IMDB IMDBVAR"
set msgtypes(DEFAULT) 		"MSGINVITE BADMSGINVITE INVITE LOGIN LOGOUT REQUEST REQFILLED IMDBFIND"

# Sitename is for the %sitename-cookie in announces :)
set sitename			"pzs-ng"
# Prefix on commands (f. x. !pnfree if cmdpre is !pn, !free if cmdpre is !, etc)
# bindnopre does not replace the cmd pre command, it meirly adds a second
# trigger option. example: you can set cmdpre to !pn but if bindnopre is set to # "YES" then the sitebot will respond to !pnbnc and also !bnc useful for rings.
set cmdpre			"!pn"
set bindnopre			"YES"
# List of bnc's (used for BNC-testing with the <prefix>bnc command in channel)
# Format: countrycode:hostname:port (space seperated)
set bnc(LIST)			"uk:msn.test1.com:123 de:msn.test2.com:345 se:msn.test3.com:567"
# Username and password to use for testing bncs (must exist with this box's ip added)
set bnc(USER)			"bncuser"
set bnc(PASS)			"bncpass"
# Number of seconds to wait before giving up on connecting to the BNCs (Note that SSL takes extra time)
set bnc(TIMEOUT)		"20"
# Should we make a ping test too? TRUE/FALSE
set bnc(PING)			"TRUE"

# Your sites bandwidth - used for % of bandwidth used calculations in !bw (in kilobytes)
# 100 mbit full duplex
set speed(INCOMING)		"12500"
set speed(OUTGOING)		"12500"
# 4096 / 1024 kbit asymmetric dsl
#set speed(INCOMING)		"512"
#set speed(OUTGOING)		"128"
# etc. ;)

# During !idlers what is the minimum amount of seconds for a user to be shown as "idle"
# set to 0 to show all users who are not currently upload/downloading (may be a lot)
set minidletime			"30"

# What sections are we announcing for? (Remeber to define path and type below)
set sections			"TEST GAMES APPS MP3 0DAY MV"

# The sections we allow checking of stats on, remember that the number in
# parantheses must be the same as the number of the section in glftpd config =)
set statsection(0)		"MP3"
set statsection(1)		"0DAY"
set statsection(2)		"ISO"

# These are the binaries the script will use. They are usually best left
# as their default values :) (btw, check that they all are where they should
# and chmodded to eXecutable :) (chmod 755 <file>)
set binary(CAT)			"/glftpd/bin/cat"
set binary(WHO)			"/glftpd/bin/sitewho"
set binary(BW)			"/glftpd/bin/ng-bw"
set binary(STATS)		"/glftpd/bin/stats"
set binary(PASSCHK)		"/glftpd/bin/passchk"
set binary(INCOMPLETE)		"/glftpd/bin/incomplete-list.sh"
set binary(PING)		"/bin/ping"
# ping in freebsd is in sbin
#set binary(PING)		"/sbin/ping"
set binary(NCFTPLS)		"/usr/local/bin/ncftpls"
set binary(DF)			"/bin/df"
# This is needed for autodetection of glversion. If you unset this, use_glftpd2
# MUST be set to YES or NO :)
set binary(GLFTPD)		"/glftpd/bin/glftpd"

# Definition of hd devices (for freespace) Syntax is "disk sections".
# 'sections' is purely for cosmetic uses (output)
set device(0)			"/dev/da0s1f MP3"
set device(1)			"/dev/ad0s1e ISO"

# Set up paths for all the sections (wildcards) and their
# types. Types are to decide if things get shown or not ;)
set paths(TEST)			"/site/test/*"
set type(TEST)			"RACE"
set paths(GAMES)		"/site/incoming/games/*"
set type(GAMES)			"RACE"
set paths(APPS)			"/site/incoming/apps/*"
set type(APPS)			"RACE"
set paths(MP3)			"/site/incoming/mp3/*"
set type(MP3)			"RACE"
set paths(0DAY)			"/site/incoming/0day/*"
set type(0DAY)			"RACE"
set paths(MV)			"/site/incoming/musicvideos/*"
set type(MV)			"RACE"

# Which channels we announce the different things to.
# Space separated lists, you can have more than one channel :)
set mainchan						"#pzs-ng"
set chanlist(TEST)					"$mainchan"
set chanlist(GAMES)					"$mainchan"
set chanlist(APPS)					"$mainchan"
set chanlist(MP3)					"$mainchan"
set chanlist(0DAY)					"$mainchan"
set chanlist(MV)					"$mainchan"
set chanlist(DEFAULT)					"$mainchan"
set chanlist(INVITE)					"$mainchan"
set chanlist(WELCOME)					"$mainchan"

# Which channels we invite nicks to. (per default it invites
# to the channels it announces invites to, but you can change that)
set invite_channels					$chanlist(INVITE)

# Are we disabling the announce of this stuff?
# If its set to 1, we wont show it :)
set disable(BADBITRATE)					0
set disable(BADGENRE)					0
set disable(BADMSGINVITE)				0
set disable(BADYEAR)					0
set disable(COMPLETE)					0
set disable(COMPLETE_RAR)				0
set disable(COMPLETE_ZIP)				0
set disable(COMPLETE_OTHER)				0
set disable(COMPLETE_VIDEO)				0
set disable(COMPLETE_AUDIO)				0
set disable(COMPLETE_RACE)				0
set disable(COMPLETE_RACE_RAR)				0
set disable(COMPLETE_RACE_ZIP)				0
set disable(COMPLETE_RACE_OTHER)			0
set disable(COMPLETE_RACE_VIDEO)			0
set disable(COMPLETE_RACE_AUDIO)			0
set disable(DEFAULT)					1
set disable(DELDIR)					0
set disable(DOUBLESFV)					0
set disable(HALFWAY_RACE)				0
set disable(HALFWAY_NORACE)				0
set disable(INCOMPLETE)					0
set disable(INVITE)					0
set disable(LOGIN)					1
set disable(LOGOUT)					1
set disable(MSGINVITE)					0
set disable(NEWDIR)					0
set disable(NEWLEADER)					0
set disable(NUKE)					0
set disable(PRE)					0
set disable(RACE)					0
set disable(REQUEST)					0
set disable(REQFILLED)					0
set disable(SFV)					0
set disable(STAT_USERS_HEAD)				0
set disable(STAT_USERS)					0
set disable(STAT_GROUPS_HEAD)				0
set disable(STAT_GROUPS)				0
set disable(STAT_POST)					0
set disable(UNNUKE)					0
set disable(UPDATE)					0
set disable(UPDATE_RAR)					0
set disable(UPDATE_OTHER)				0
set disable(UPDATE_CBR)					0
set disable(UPDATE_VBR)					0
set disable(UPDATE_VIDEO)				0
set disable(UPDATE_ZIP)					0
set disable(WELCOME)					0
set disable(WIPE)					0
set disable(WIPE-r)					0
set disable(IMDB)					0
set disable(IMDBVAR)					0
set disable(IMDBFIND)					0

#########################################################
# ADVANCED CONFIG, EDIT CAREFULLY                       #
#########################################################

# Space separated list of wildcards that we match against
# paths to see if we announce it or not =)
# REMEMBER: This is CaSe SeNsItIvE.
set denypost						""

# Do not show it if this user gets nuked
set hidenuke						"UNKNOWN"

## Defining variables for announce
#
# Example:
#  set variables(PRE) "%pf %user %group %pregroup %files %mbytes"
#  set announce(PRE)  "-%sitename- \[%section\] %user@%group launches new %pregroup-pre called %release (%mbytesM in %filesF)"
#
# Special variables:
#  %pf      = path filter, must be the first parameter and contain full path of the release, it defines:
#   %release = Last directory in path ( /site/xxx/marissa-exxtasy/cd1 => cd1 )
#   %path    = Second last directory in path ( /site/xxx/marissa-exxtasy/cd1 => marissa-exxtasy )
#   %relname = all directories after those defined in paths
#              ( paths(ISO) = "/site/xxx/" does: /site/xxx/marissa-exxtasy/cd1 => marissa-exxtasy/cd1 )
#
#  %bold    = bolds text
#  %uline   = underlines text
#  %section = current section name
#
#  %nuker   = name of nuker
#  %mult    = nuke multiplier
#  %reason  = nuke reason
#  %nukee   = ppl that got nuked
#
# PLEASE! DO NOT CHANGE THESE VALUES IF YOU DO NOT KNOW WHAT THEY DO! IT *WILL* BREAK THE BOT!

# Variables pasted from glftpd
set variables(DEFAULT)		"%pf %msg"
set variables(NEWDIR)		"%pf %user %group %tagline"
set variables(DELDIR)		"%pf %user %group %tagline"
set variables(LOGIN)		"%hostmask %ip %user %group %tagline"
set variables(LOGOUT)		"%hostmask %ip %user %group %tagline"
set variables(WIPE)		"%pf %user %group %tagline"
set variables(WIPE-r)		"%pf %user %group %tagline"

# Variables pasted from the zipscript
set variables(DOUBLESFV)	"%pf %user %group %rel %fname"
set variables(BADBITRATE)	"%pf %user %group %bitrate"
set variables(BADGENRE)		"%pf %user %group %genre"
set variables(BADYEAR)		"%pf %user %group %year"
set variables(RACE)		"%pf %user %group %against %rel %spd %fname %len %pct %usrs %grps %upfiles %totfiles %missing_files"
set variables(SFV)		"%pf %rel %files %user %group"
set variables(UPDATE)		"%pf %user %group %files %spd %mbytes %fname %rel"
set variables(UPDATE)		"%pf %user %group %files %spd %mbytes %fname %rel"
set variables(UPDATE_RAR)	"%pf %user %group %files %spd %mbytes %fname %rel"
set variables(UPDATE_ZIP)	"%pf %user %group %files %spd %mbytes %fname %rel"
set variables(UPDATE_OTHER)	"%pf %user %group %files %spd %mbytes %fname %rel"
set variables(UPDATE_VIDEO)	"%pf %user %group %files %spd %mbytes %fname %rel"
set variables(UPDATE_VBR)	"%pf %user %group %files %spd %genre %year %bitrate %sampling %mode %audio %a_stream %fname %rel"
set variables(UPDATE_CBR)	"%pf %user %group %files %spd %genre %year %bitrate %sampling %mode %audio %fname %rel"
set variables(HALFWAY_RACE)	"%pf %rel %user %group %u_mb %u_files %u_pct %u_spd %g_name %g_mb %g_files %g_pct %g_spd %missing_files %fname %usrs %grps"
set variables(HALFWAY_NORACE)	"%pf %rel %user %group %u_mb %u_files %u_pct %u_spd %g_name %g_mb %g_files %g_pct %g_spd %missing_files %fname %usrs %grps"
set variables(NEWLEADER)	"%pf %user %group %spd %len %files %pct %mbytes %rel %usrs %grps %fname %missing_files"

set variables(COMPLETE)		"%pf %rel %mbytes %files %avgspd %len %user %group %fname"
set variables(COMPLETE_RAR)	"%pf %rel %mbytes %files %avgspd %len %user %group %fname"
set variables(COMPLETE_ZIP)	"%pf %rel %mbytes %files %avgspd %len %user %group %fname"
set variables(COMPLETE_OTHER)	"%pf %rel %mbytes %files %avgspd %len %user %group %fname"
set variables(COMPLETE_VIDEO)	"%pf %rel %mbytes %files %avgspd %len %user %group %fname"
set variables(COMPLETE_AUDIO)	"%pf %rel %mbytes %files %avgspd %len %user %group %fname"

set variables(COMPLETE_RACE)		"%pf %rel %mbytes %files %avgspd %len %usrs %grps %s_usr %s_grp %s_spd %f_usr %f_grp %f_spd %w_usr %w_grp %u_mb %u_files %u_pct %u_spd %g_name %g_mb %g_files %g_pct %g_spd %fname"
set variables(COMPLETE_RACE_RAR)	"%pf %rel %mbytes %files %avgspd %len %usrs %grps %s_usr %s_grp %s_spd %f_usr %f_grp %f_spd %w_usr %w_grp %u_mb %u_files %u_pct %u_spd %g_name %g_mb %g_files %g_pct %g_spd %fname"
set variables(COMPLETE_RACE_ZIP)	"%pf %rel %mbytes %files %avgspd %len %usrs %grps %s_usr %s_grp %s_spd %f_usr %f_grp %f_spd %w_usr %w_grp %u_mb %u_files %u_pct %u_spd %g_name %g_mb %g_files %g_pct %g_spd %fname"
set variables(COMPLETE_RACE_OTHER)	"%pf %rel %mbytes %files %avgspd %len %usrs %grps %s_usr %s_grp %s_spd %f_usr %f_grp %f_spd %w_usr %w_grp %u_mb %u_files %u_pct %u_spd %g_name %g_mb %g_files %g_pct %g_spd %fname"
set variables(COMPLETE_RACE_VIDEO)	"%pf %rel %mbytes %files %avgspd %len %usrs %grps %s_usr %s_grp %s_spd %f_usr %f_grp %f_spd %w_usr %w_grp %u_mb %u_files %u_pct %u_spd %g_name %g_mb %g_files %g_pct %g_spd %fname"
set variables(COMPLETE_RACE_AUDIO)	"%pf %rel %mbytes %files %avgspd %len %usrs %grps %s_usr %s_grp %s_spd %f_usr %f_grp %f_spd %w_usr %w_grp %u_mb %u_files %u_pct %u_spd %g_name %g_mb %g_files %g_pct %g_spd %fname"

set variables(INCOMPLETE)	"%pf %user %group %rel"
set variables(STAT_USERS_HEAD)	"%pf %dummy"
set variables(STAT_USERS)	"%pf %pos %user %group %mbytes %files %pct %spd %dayup %wkup %monthup %allup %f_usr %f_grp %f_spd %s_usr %s_grp %s_spd"
set variables(STAT_GROUPS_HEAD)	"%pf %dummy"
set variables(STAT_GROUPS)	"%pf %pos %group %mbytes %files %pct %spd"
set variables(STAT_POST)	"%pf %usrs %grps %files %mbytes %len %spd"

# Variables pasted from 3rd party apps
set variables(PRE)		"%pf %rel %pregroup %section %files %mbytes %cds %who %user %group %tagline"
set variables(INVITE)		"%ircnick %user %group"
set variables(REQUEST)		"%rl %user %group %tagline"
set variables(REQFILLED)	"%rl %user %group %tagline %requester"

# Using psxc-imdb, setting TRIGGER to "IMDBVAR" and LOGFORMAT to "SPECIAL" will allow you use format the output in the bot.
set variables(IMDBVAR)	"%pf %imdbdirname %imdburl %imdbtitle %imdbgenre %imdbrating %imdbcountry %imdblanguage %imdbcertification %imdbruntime %imdbdirector %imdbbusinessdata %imdbpremiereinfo %imdblimitedinfo %imdbvotes %imdbscore %imdbname %imdbyear %imdbnumscreens %imdbislimited %imdbcastleadname %imdbcastleadchar %imdbtagline %imdbplot \[%imdbbar\] %imdbcasting %imdbcommentshort %imdbdestination"

# Using psxc-imdb setting TRIGGER to "IMDB" and LOGFORMAT to "" or "MYOWN" will allow a pre-formatted output
set variables(IMDB)		"%pf %msg"

# Using psxc-imdb setting FINDTRIGGER to "IMDBFIND" and LOGFORMAT to "" or "MYOWN" will allow a pre-formatted output.
set variables(IMDBFIND)		"%pf %msg"

## Converts empty or zero variable to something else if defined
#
# Example:
#  set zeroconvert(%user) "NoOne"
set zeroconvert(%user)				"NoOne"
set zeroconvert(%group) 			"NoGroup"

# IMDB variables
set zeroconvert(%imdbdirname)		"N/A"
set zeroconvert(%imdburl)		"N/A"
set zeroconvert(%imdbtitle)		"N/A"
set zeroconvert(%imdbgenre)		"N/A"
set zeroconvert(%imdbrating)		"N/A"
set zeroconvert(%imdbcountry)		"N/A"
set zeroconvert(%imdblanguage)		"N/A"
set zeroconvert(%imdbcertification)	"N/A"
set zeroconvert(%imdbruntime)		"N/A"
set zeroconvert(%imdbdirector)		"N/A"
set zeroconvert(%imdbbusinessdata)	"N/A"
set zeroconvert(%imdbpremiereinfo)	"N/A"
set zeroconvert(%imdblimitedinfo)	"N/A"
set zeroconvert(%imdbvotes)		"Less than 5"
set zeroconvert(%imdbscore)		"0"
set zeroconvert(%imdbname)		"N/A"
set zeroconvert(%imdbyear)		"N/A"
set zeroconvert(%imdbnumscreens)	"N/A"
set zeroconvert(%imdbislimited)		"No idea."
set zeroconvert(%imdbcastleadname)	"Uknown"
set zeroconvert(%imdbcastleadchar)	"Uknown"
set zeroconvert(%imdbtagline)		"No info found."
set zeroconvert(%imdbplot)		"No info found."
set zeroconvert(%imdbbar)		"\[..........\]"
set zeroconvert(%imdbcasting)		"N/A"
set zeroconvert(%imdbcommentshort)	"N/A"

## Splits output line to smaller pieces
#
# To disable set it to "\n"
set splitter(CHAR)				"|"

## RANDOMIZING OUTPUT
#
# Example:
#  set random(NEWDIR-0)       "-%sitename- \[%section\] + %user@%group creates a directory called %release"
#  set random(NEWDIR-1)       "-%sitename- \[%section\] + %user@%group makes a directory called %release"
#  set random(NEWDIR-2)       "-%sitename- \[%section\] + %user@%group does mkdir %release"
#   TYPE --------^   ^
#         ID --------^
#
#  set announce(NEWDIR) "random 3"
#   TYPE ---------^        ^    ^
#         RANDOM ----------^    ^
#             # OF IDS ---------^

# Announces are now set in announce(THEMEFILE). they can still be set here like you're used to, but it's deprecated.
set announce(THEMEFILE)				"default.zst"

# In this announce you can use %free, %total and %used for the free/total/used sum of all disks
# and you can use %devices. Each device specified (see above (set device(0) etc)) will be inserted
# with stats as specified in announce(FREE-DEV) (see below)
#
# Stats for each device (Replaces %devices in announce(FREE) for each device), here you can use
# %free, %total and %used :)
# 2004-08-16: Layout of "FREE" has been moved to THEMEFILE. (avizion)
