# Build & configure
Makefile
/config.h
/config.log
/config.status

# Configuration
/sitewho/sitewho.conf
/zipscript/conf/zsconfig.h

# Produced object files
*.o
*.dSYM/

# Generated version
/zipscript/include/ng-version.h

# Produced binaries
/sitebot/src/dl_speedtest
/sitebot/src/passchk
/sitebot/src/showlog
/sitewho/sitewho
/zipscript/src/audiosort
/zipscript/src/cleanup
/zipscript/src/datacleaner
/zipscript/src/ng-chown
/zipscript/src/ng-deldir
/zipscript/src/ng-undupe
/zipscript/src/postdel
/zipscript/src/postunnuke
/zipscript/src/racestats
/zipscript/src/rescan
/zipscript/src/zipscript-c

# Produced binaries with "make utils"
/zipscript/utils/headdatatest
/zipscript/utils/racedatatest
/zipscript/utils/sfvdatatest
